<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.serviceModel>
    <diagnostics performanceCounters="Default">
      <messageLogging logEntireMessage="false" logMalformedMessages="false"
        logMessagesAtServiceLevel="false" logMessagesAtTransportLevel="true" />
      <endToEndTracing activityTracing="false" />
    </diagnostics>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <connectionStrings>
    <add name="ConexionBDTutorias" connectionString="Data source=.\SQLEXPRESS;Initial catalog=ServiciosTutoria;User ID = ServiciosTutoria;Password= TutoriasUV2023;Integrated Security = true"
      providerName="System.Data.SqlClient" />
    <add name="ServiciosTutoriaConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ServiciosTutoria;Integrated Security=True;User ID=ServiciosTutoria;Password=TutoriasUV2023"
      providerName="System.Data.SqlClient" />
    <add name="ServiciosTutoriaConnectionString1" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ServiciosTutoria;Integrated Security=True;User ID=ServiciosTutoria;Password=TutoriasUV2023"
      providerName="System.Data.SqlClient" />
    <add name="ServiciosTutoriaConnectionString2" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ServiciosTutoria;Integrated Security=True;User ID=ServiciosTutoria;Password=TutoriasUV2023"
      providerName="System.Data.SqlClient" />
    <add name="ServiciosTutoriaConnectionString3" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ServiciosTutoria;Integrated Security=True;User ID=ServiciosTutoria;Password=TutoriasUV2023"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel"
                    switchValue="Information, ActivityTracing"
                    propagateActivity="true">
				<listeners>
					<add name="xml" />
				</listeners>
			</source>
			<source name="CardSpace">
				<listeners>
					<add name="xml" />
				</listeners>
			</source>
			<source name="System.IO.Log">
				<listeners>
					<add name="xml" />
				</listeners>
			</source>
			<source name="System.Runtime.Serialization">
				<listeners>
					<add name="xml" />
				</listeners>
			</source>
			<source name="System.IdentityModel">
				<listeners>
					<add name="xml" />
				</listeners>
			</source>
			<source name="UserTraceSource" switchValue="Warning, ActivityTracing" >
				<listeners>
					<add name="xml"
					   type="System.Diagnostics.XmlWriterTraceListener"
					   initializeData="C:\logs\UserTraces.svclog" />
				</listeners>
			</source>
		</sources>

		<sharedListeners>
			<add name="xml"
                 type="System.Diagnostics.XmlWriterTraceListener"
                 initializeData="c:\log\Traces.svclog" />
		</sharedListeners>
	<trace autoflush="true" />
	</system.diagnostics>
</configuration>
