<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="Warning,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="c:\users\super\documents\escuelini\6to\tecnologias\proyecto\is_tcs_proyectotutorias_equipo01_feb2023\servicioslinqtutorias\web_messages.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
      <add initializeData="c:\users\super\documents\escuelini\6to\tecnologias\proyecto\is_tcs_proyectotutorias_equipo01_feb2023\servicioslinqtutorias\web_tracelog.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.serviceModel>
	  <bindings>
		  <basicHttpBinding>
			  <binding name="BasicHttpBinding_IServiciosTutoria" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
				  <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
				  <security mode="None" />
				  </binding>
		  </basicHttpBinding>
	  </bindings>
    <diagnostics performanceCounters="Default">
      <messageLogging logEntireMessage="false" logMalformedMessages="false"
        logMessagesAtServiceLevel="false" logMessagesAtTransportLevel="true" />
      <endToEndTracing activityTracing="false" />
    </diagnostics>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
	  <security>
		  <requestFiltering>
			  <requestLimits maxAllowedContentLength="40000000" />
		  </requestFiltering>
	  </security>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <connectionStrings>
    <add name="ConexionBDTutorias" connectionString="Data source=.\SQLEXPRESS;Initial catalog=ServiciosTutoria;User ID = ServiciosTutoria;Password= TutoriasUV2023;Integrated Security = true"
      providerName="System.Data.SqlClient" />
    <add name="ServiciosTutoriaConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ServiciosTutoria;Integrated Security=True;User ID=ServiciosTutoria;Password=TutoriasUV2023"
      providerName="System.Data.SqlClient" />
    <add name="ServiciosTutoriaConnectionString1" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ServiciosTutoria;Integrated Security=True;User ID=ServiciosTutoria;Password=TutoriasUV2023"
      providerName="System.Data.SqlClient" />
    <add name="ServiciosTutoriaConnectionString2" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ServiciosTutoria;Integrated Security=True;User ID=ServiciosTutoria;Password=TutoriasUV2023"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
